body{
    background-image: url(../images/logo.jpg);
    background-color: black;
    background-position: left;
     background-repeat: round;
     background-attachment: fixed;
     background-size: cover;
     -webkit-background-size: contain;
     -moz-background-size: cover;
     -o-background-size: cover;
}